.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  margin-bottom: var(--space-4);
}

.border {
  padding-bottom: var(--space-4);
  border-bottom: 1px solid var(--color-border-subtle);
}
